[Unit]
Description=Periodically sync network time to PCF8563

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
